.IezZa:before{content:'カ';}.qNuEi:before{content:'ー';}.jSBeq:before{content:'ド';}.gDoyx:before{content:'名';}.lgCJI:before{content:'義';}.XCPVw:before{content:'人';}.gylpk:before{content:'（';}.aIGet:before{content:'半';}.aIGQt:before{content:'角';}.aIGWt:before{content:'ロ';}.aIGEt:before{content:'ー';}.aIGRt:before{content:'マ';}.aIGTt:before{content:'字';}.aIGYt:before{content:'）';}


